<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_apple_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,274},{59,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,102}}</string>
                <key>sourceSize</key>
                <string>{59,102}</string>
            </dict>
            <key>half_apple_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>half_ba_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1093},{78,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,45}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>half_ba_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{52,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,99}}</string>
                <key>sourceSize</key>
                <string>{52,99}</string>
            </dict>
            <key>half_cherry_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1093},{61,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,84}}</string>
                <key>sourceSize</key>
                <string>{61,84}</string>
            </dict>
            <key>half_cherry_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{79,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,94}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>half_grape_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{65,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,95}}</string>
                <key>sourceSize</key>
                <string>{65,95}</string>
            </dict>
            <key>half_grape_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,762},{76,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,117}}</string>
                <key>sourceSize</key>
                <string>{76,117}</string>
            </dict>
            <key>half_pa_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{60,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,153}}</string>
                <key>sourceSize</key>
                <string>{60,153}</string>
            </dict>
            <key>half_pa_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{62,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,153}}</string>
                <key>sourceSize</key>
                <string>{62,153}</string>
            </dict>
            <key>half_pear_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,494},{61,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,132}}</string>
                <key>sourceSize</key>
                <string>{61,132}</string>
            </dict>
            <key>half_pear_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,628},{68,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,132}}</string>
                <key>sourceSize</key>
                <string>{68,132}</string>
            </dict>
            <key>half_sb_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{42,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,100}}</string>
                <key>sourceSize</key>
                <string>{42,100}</string>
            </dict>
            <key>half_sb_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,378},{51,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,114}}</string>
                <key>sourceSize</key>
                <string>{51,114}</string>
            </dict>
            <key>half_wm_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,134}}</string>
                <key>sourceSize</key>
                <string>{119,134}</string>
            </dict>
            <key>half_wm_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{93,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruit-half.png</string>
            <key>size</key>
            <string>{127,1183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37b990bd69e1882f87fa788130a9a715:c6a787678d2ccd0f84791bcd0f106efc:dfcf64bbeb5c38506f7b64a91a0a4b11$</string>
            <key>textureFileName</key>
            <string>fruit-half.png</string>
        </dict>
    </dict>
</plist>
