<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit_apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>fruit_apple_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,148},{76,80}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{76,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fruit_ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{119,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,127}}</string>
                <key>sourceSize</key>
                <string>{119,127}</string>
            </dict>
            <key>fruit_ba_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,164},{84,60}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{84,60}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fruit_cherry.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,157},{127,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,94}}</string>
                <key>sourceSize</key>
                <string>{127,94}</string>
            </dict>
            <key>fruit_cherry_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,190},{84,62}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{84,62}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fruit_grape.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,136},{91,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,116}}</string>
                <key>sourceSize</key>
                <string>{91,116}</string>
            </dict>
            <key>fruit_grape_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,78},{68,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fruit_pa.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{112,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,153}}</string>
                <key>sourceSize</key>
                <string>{112,153}</string>
            </dict>
            <key>fruit_pa_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,164},{62,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fruit_pear.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{99,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,132}}</string>
                <key>sourceSize</key>
                <string>{99,132}</string>
            </dict>
            <key>fruit_pear_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{64,86}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{64,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fruit_sb.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,131},{76,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,114}}</string>
                <key>sourceSize</key>
                <string>{76,114}</string>
            </dict>
            <key>fruit_sb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,106},{56,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{56,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fruit_wm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,134}}</string>
                <key>sourceSize</key>
                <string>{186,134}</string>
            </dict>
            <key>fruit_wm_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{102,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{102,74}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruit.png</string>
            <key>size</key>
            <string>{680,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f1fa9b7f0bc1b6d272658b7b05c6c9:a6f8e91bc47fd946276184fd9da58c8b:61ebfeb4a02f55db7ab45fc9c5d0ca36$</string>
            <key>textureFileName</key>
            <string>fruit.png</string>
        </dict>
    </dict>
</plist>
