<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,90},{416,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,200}}</string>
                <key>sourceSize</key>
                <string>{416,200}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,292},{392,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,57}}</string>
                <key>sourceSize</key>
                <string>{392,57}</string>
            </dict>
            <key>record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{646,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,86}}</string>
                <key>sourceSize</key>
                <string>{646,86}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,90},{330,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,238}}</string>
                <key>sourceSize</key>
                <string>{330,238}</string>
            </dict>
            <key>wood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,350}}</string>
                <key>sourceSize</key>
                <string>{720,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{1474,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29de8b5804d3813b2e080f1835dd8ae7:1c692ed9095759de36c75b68f8aac704:454e9ce649c79c377f9a07836b0b25b4$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
